/* Trivia */
body {
  overflow-x: hidden;
  @media only screen and (max-width: 460px) {
    overflow-y: hidden;
    -webkit-overflow-scrolling: auto;
  }
}
.page1 {
  width: 500px;
  margin: auto;
  @media only screen and (max-width: 500px) {
    width: 300px;
  }
}

.card-question {
  margin: 20px;
}

.list-group {
  margin: 20px;
}

.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .Card {
    flex: 1;
    min-width: 200px;
    opacity: 0.3;
    transform: scale(0.7);
    transition: opacity 300ms linear,
      transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    .answers {
      opacity: 0;
      transition: opacity 150ms linear;
    }
  }
}

/*
.cards-slider.active-slide-0 #card-0{
  opacity: 1;
}
*/

// if statement for styling each card when it becomes current
$i: 0;
@for $i from 0 through 9 {
  .cards-slider.active-slide-#{$i} #card-#{$i} {
    opacity: 1;
    transform: scale(1);
    .answers {
      opacity: 1;
    }
  }
}

.cards-slider {
  max-width: 550px;
  margin: 0, auto;
  position: relative;
  height: 350px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 420px;
    outline: 5px solid #61dafb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.triviaheader {
  display: block;
  height: 100px;
}

.timer {
  float: right;
}

.time {
  position: static;
  display: block;
}

/* End Trivia */
